<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
  <a href="/students/add">
    <button>Add new student</button>
  </a>
   <% for(item of clg_date){ %>
    <div class="student">
      <h3>Name: <%= item.name %></h3>
      <h4>Age: <%= item.age %> </h3>
      <h4>Marks: <%= item.marks %></h4>
      <div class="date">
        <h3>Modified:</h3>
        <h4><%= item.updatedAt.toString().split(" ").slice(0,4).join("-") %> </h4>
        <h4> <%=item.updatedAt.toString().split(" ")[4]%></h4>
       
      
      </div>
      

      <button class="update"> <a href="/students/edit/<%=item._id %>" >update</a></button>
      <button  class="delete"> <a href="/students/delete/<%=item._id%>">delete</a></button>
     

       
    </div>
   <hr>
    <% } %>
 
</body>
</html>